.post-content-body-wide {
  position: relative;
  width: 75vw;
  min-width: 100%;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  transform: translateX(calc(50vw - 50%));
}

.post-subtitle {
  text-align: center;
}
